body {
  background-image: url("bg.jpeg");
  background-size: cover;
}
div {
  color: #FFFFFF;
  text-shadow: 2px 2px #000000;
  text-align: center;
  font-family: Arial,Helvetica,sans-serif;
}
#outer_container {
  padding: 2.5em;
  background-color: rgba(55, 55, 55, 0.5);
  border-radius: 10px;
  /* center the contents */
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
#main_text {
  font-size: 5em;
}
#sub_text {
  font-size: 2.5em;
}
#resume_button {
  margin-top: 2.5em;
}
a {
  font-size: 3em;
  text-decoration: none;
  transition: color 0.5s ease;
  color: #DEC837
}
a:hover {
  transition: color 0.5s ease;
  color: #8C7F26;
  text-decoration: none;
}
